@import "../../../styles/variables";
.buyerData {
  .title {
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .inputBlock {
    display: grid;
    gap: 16px;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 232.5px);
    }

    .input {
      font-size: 16px;
      line-height: 20px;
      &::placeholder {
        color: $textDarkGrey;
      }

      input {
        padding: 0 13px;
      }
    }
  }
}
