@import "../../../styles/variables";

.hotLine {
  min-height: 48px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  color: $textBlack;
  margin-bottom: 11px;
  * {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
