@import "../../../styles/variables";

.mainBlock {
  display: grid;
  gap: 32px;
  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.nav {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  gap: 16px;
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.navLink {
  font-size: 14px;
  line-height: 16px;
  color: $blue;
}

.copyright {
  font-size: 8px;
  line-height: 10px;
  color: $textDarkGrey;
  span {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    max-width: 441px;
  }
}
