@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  @include containerPaddings;
  padding-bottom: 20px;
}

.container {
  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 75px;
    padding-bottom: 44px;
  }
}

.mainGrid {
  display: grid;
  gap: 24px;
  @media screen and (min-width: 768px) {
    max-width: 666px;
    grid-template-columns: 160px auto auto;
  }
  @media screen and (min-width: 1200px) {
    max-width: none;
    gap: 0;
    justify-content: space-between;
    grid-template-columns: auto 665px auto;
    max-width: 1075px;
  }
}
