@import "../../styles/mixins";
@import "../../styles/variables";

.callMeBack {
  @include containerPaddings;
}

.container {
  padding: 111px 11px 32px;
  position: relative;
  z-index: 0;
  background: $background1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: $mainBorderRadius;
}

.block {
  max-width: 604px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
}

.title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.subtitle {
  margin-bottom: 23px;
  @include flexCenter;
  text-align: center;
}

.form {
  display: grid;
  gap: 8px;
  label {
    position: relative;
    z-index: 0;
    span {
      position: absolute;
      z-index: 10;
      top: 5px;
      left: 12px;
      font-size: 12px;
      line-height: 16px;
      color: $textDarkGrey;
    }
    input {
      padding: 24px 12px 8px;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      border-radius: $mainBorderRadius;
      border: none;
    }
  }

  button {
    padding-top: 0;
    margin-bottom: 8px;
  }

  div {
    grid-template-columns: 16px 1fr;
    gap: 11px;
    p {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.picture {
  position: absolute;
  z-index: -10;
  width: 183px;
  height: 136px;
  right: calc(50% - (183px / 2));
  top: -29px;

  &::before {
    content: "";
    @include absoluteStretch;
    background-image: url(../../../public/images/fac37c56b144d11b498fba938831299c.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  @media screen and (min-width: 768px) {
    width: 280px;
    height: 240px;
    top: auto;
    right: 0;
    bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 382px;
    height: 287px;
  }
}
