$containerPadding320: 10px;
$containerPadding800: 40px;
$containerPadding1920: 24px;

$mainGap320: 40px;
$mainBorderRadius: 8px;

$bodyColor: #f3f9ff;
$blue: #0078be;
$gold: #f6a81c;
$textBlack: #313140;
$textDarkGrey: #a1a1a1;
$lightBlue: #3d95fb;
$yellow: #ffca00;
$accentRed: #fb4242;

$boxShadow1: 0px 2px 8px rgba(15, 85, 126, 0.04),
  4px 4px 16px rgba(18, 102, 152, 0.08);
