@import "../../../../styles/variables";
@import "../../../../styles/mixins";

.touristData,
.touristDataClosed {
  display: grid;
  padding: 16px;
  gap: 12px;
  background: #fff;
  box-shadow: $boxShadow1;
  border-radius: $mainBorderRadius;
  transition: gap 0.5s ease-in-out;
}

.touristDataClosed {
  gap: 0;
  .button {
    transform: rotate(180deg);
  }
  .inputTuorist {
  }
  .inputsBlock {
    max-height: 0;
  }
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
  .button {
    @include flexCenter;
    width: 20px;
    height: 20px;
    transition: transform 0.5s ease-in-out;
  }
}

.inputsBlock {
  max-height: 1000px;
  display: grid;
  gap: 12px;
  overflow: hidden;
  transition: max-height 0.5s linear;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.inputTuorist {
  font-size: 12px;
  line-height: 16px;
  @media screen and (min-width: 768px) {
    &:last-child {
      grid-column: 1 / span 3;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 20px;
  }

  input {
    padding: 0 13px;
    &::placeholder {
      color: $textDarkGrey;
    }
  }
}
