@import "../../styles/mixins";
@import "../../styles/variables";

.booking {
  @include containerPaddings;
  font-size: 12px;
  line-height: 16px;
  color: $textBlack;

  .title,
  .bookingTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    @media screen and (min-width: 768px) {
      font-size: 32px;
      line-height: 40px;
    }
    @media screen and (min-width: 1200px) {
      grid-column: span 2;
    }
  }

  .container {
    display: grid;
    gap: 24px;
    padding: 40px 16px;
    border-radius: $mainBorderRadius;
    background-color: #fff;
    box-shadow: $boxShadow1;
    @media screen and (min-width: 768px) {
      padding: 40px 32px 26px;
      gap: 40px;
    }
    @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 400px;
    }

    .tourInfo {
      display: grid;
      gap: 24px;
      @media screen and (min-width: 768px) {
        gap: 40px;
      }
      @media screen and (min-width: 1200px) {
        order: 3;
      }

      .help {
        margin-bottom: 16px;
        display: grid;
        gap: 9px;
        @media screen and (min-width: 768px) {
          margin-bottom: 0;
          grid-template-columns: auto 1fr;
        }
        @media screen and (min-width: 1200px) {
          grid-template-columns: 1fr;
        }

        .helpTitle {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
        }

        .helpPhone {
          max-width: fit-content;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $lightBlue;
        }
      }
    }

    .form {
      display: grid;
      gap: 40px;
    }

    .paymentButtons {
      display: grid;
      gap: 15px;
      @media screen and (min-width: 768px) {
        grid-template-columns: auto 362px;
      }
    }
  }
}
