@import "../../styles/mixins";
@import "../../styles/variables";

.booking {
  @include containerPaddings;
  .container {
    height: 500px;
    border-radius: $mainBorderRadius;
    background-color: #fff;

    .title {
    }
  }
}
