@import "../../../styles/mixins";

.socials {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  gap: 24px;
  @media screen and (min-width: 768px) {
    grid-template-columns: auto;
    align-self: start;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(3, auto);
  }
}

.socialItem {
  @include flexCenter;
}

.socialLink {
  @include flexCenter;
}
