@import "../../styles/mixins";
@import "../../styles/variables";

.tour,
.tourActive {
  height: 100%;
  @include flexCenter;
}

.tour {
  .block {
    &:hover {
      .subtitle {
        display: block;
      }
    }
  }
}

.tourActive {
  .hidderSearch {
    display: flex;
  }

  .title {
    padding-top: 0;
    color: $textDarkGrey;
    &:hover {
      color: $accentRed;
    }
  }

  .subtitle {
    display: none;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 15px;
  text-align: center;
  color: #fff;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.title {
  padding-top: 33px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    padding-top: 76px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.025em;
  }
  transition: color 1s ease-in-out;
}

.button {
  color: inherit;
}

.subtitle {
  display: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.hidderSearch {
  display: none;
}
