@import "../../styles/mixins";
@import "../../styles/variables";

@mixin pictureMargins {
  @media screen and (min-width: 1200px) {
    margin-left: $containerPadding1920;
    margin-right: $containerPadding1920;
    border-radius: 8px;
  }
}

.mainScreen {
  position: relative;
  z-index: 0;
  @include containerPaddings;
  min-height: 320px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  @media screen and (min-width: 768px) {
    min-height: 340px;
    font-size: 40px;
    line-height: 48px;
  }
  @media screen and (min-width: 1200px) {
    border-radius: 8px;
  }

  &::before {
    z-index: -20;
    content: "";
    background-image: url(../../../public/images/b1c5f61560408a3e04538aa15a5c148f.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    @include absoluteStretch;
    @include pictureMargins;
  }

  &::after {
    z-index: -10;
    content: "";
    background: linear-gradient(0deg, rgba(0, 4, 19, 0.4), rgba(0, 4, 19, 0.4));
    @include absoluteStretch;
    @include pictureMargins;
  }

  .title {
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 15px;
    font-size: inherit;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    @media screen and (min-width: 768px) {
      padding-top: 0;
      padding-bottom: 0;
      letter-spacing: 0.025em;
    }
  }
}
