@import "../../../styles/variables";

.button {
  padding-top: 5px;
  min-height: 52px;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $yellow;
  border-radius: $mainBorderRadius;
}
