@import "../../../styles/variables";
@import "../../../styles/mixins";

.footer {
  display: grid;
  gap: 4px;
  padding-top: 7px;
  border-top: 1px solid $brandPaleBlue;
  @media screen and (min-width: 1200px) {
    padding-top: 6px;
    padding-bottom: 5px;
  }

  .priceTour {
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    .title {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: $textDarkGrey;
    }

    .price {
      display: flex;
      gap: 4px;
    }
  }

  .toPaid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    .titlePaid {
      @include flexCenter;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: $textDarkGrey;
    }

    .pricePaid {
      @include flexCenter;
      gap: 4px;
    }

    svg {
      width: 12px;
      height: 24px;
    }
  }
}
