@import "../../../styles/variables";
@import "../../../styles/mixins";

.tel,
.telActive {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  color: $blue;
  @media screen and (min-width: 768px) {
    margin-right: 60px;
  }
}

.tel {
  @media screen and (min-width: 768px) {
    .dropDown {
      .listItem {
        transform: scaleY(0);
      }
    }
  }
}

.telActive {
  @media screen and (min-width: 768px) {
    .dropDown {
      max-height: 1000px;

      .listItem {
        transform: scaleY(1);
      }
    }

    .buttonImg {
      path {
        fill: $yellow;
      }
    }
  }
}

.dropDown {
  max-height: 0;
  position: absolute;
  z-index: 10;
  top: 100%;
  overflow: hidden;
  transition: max-height 2s ease-in-out;
}

.buttonImg {
  width: 15px;
  height: 16px;
  @include flexCenter;
  transform: rotate(180deg);
  svg {
    width: 7px;
    height: 4px;
    path {
      fill: $blue;
      transition: fill 0.5s ease-in-out;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}

.listItem {
  transition: transform 1s ease-in-out;
}

.button {
  display: flex;
  align-items: center;
}
