@import "../../../styles/variables";

.tel {
  display: flex;
  align-items: center;
  color: $blue;
  @media screen and (min-width: 768px) {
    margin-right: 60px;
  }
  .list {
    display: flex;
    align-items: center;
    margin-right: 8px;
    li:not(:first-child) {
      display: none;
    }
  }
  .button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.list.active li {
  display: block;
}
