@import "../src/styles/variables";
@import "../src/styles/mixins";
@import "../src/styles/fontStyles.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: OpenSans, sans-serif;
  background-color: $bodyColor;
}

body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
}
