@import "../../../styles/variables";
@import "../../../styles/mixins";

.checkbox {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $lightBlue;
  border-radius: 4px;
  cursor: pointer;
  input {
    display: none;
  }
  .custom {
    @include absoluteStretch;
    display: none;
  }
  input:checked + .custom {
    background-color: $lightBlue;
    @include flexCenter;
  }
}
