@import "../../styles/variables";
.app {
  position: relative;
  display: grid;
  gap: $mainGap320;
  max-width: 100%;
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.main {
  display: grid;
  gap: $mainGap320;
}
