@import "../../styles/mixins";

.header {
  @include containerPaddings;
  font-size: 14px;
  line-height: 19px;
  background-color: #3d95fb;
  @media screen and (min-width: 768px) {
    min-height: 74px;
    background-color: inherit;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  .dropDown {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.logoColor {
  display: none;
  @media screen and (min-width: 768px) {
    @include flexCenter;
  }
}

.logoWhite {
  @include flexCenter;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
