@import "../../styles/mixins";

.header,
.headerBurgerOn {
  @include containerPaddings;
  font-size: 14px;
  line-height: 19px;
  background-color: #3d95fb;
  @media screen and (min-width: 768px) {
    min-height: 74px;
    background-color: inherit;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
}

.headerBurgerOn {
  @media screen and (max-width: 767px) {
    position: relative;
    z-index: 10;

    .dropDown {
      transform: translateY(0);
    }

    .buttonBurger {
      @include flexCenter;
      position: relative;
      z-index: 20;
      path {
        transition: stroke 1s ease-in-out;
        stroke: #000;
      }
    }

    .crossBurger {
      div {
        .burgerLine {
          opacity: 0;
          &:first-child,
          &:last-child {
            opacity: 1;
            background-color: #000;
          }
          &:first-child {
            transform: rotate(-45deg);
          }
          &:last-child {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

.dropDown {
  @media screen and (max-width: 767px) {
    padding: 16px 24px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-100%);
    background-color: $bodyColor;
    transition: transform 1s ease-in-out;
    li {
      margin-bottom: 24px;
    }
    [data-selector="header-tel"] {
      button {
        display: none;
      }

      [data-selector="header-tel-dropdown"] {
        min-height: 79px;
        position: static;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.logoColor {
  display: none;
  @media screen and (min-width: 768px) {
    @include flexCenter;
  }
}

.logoWhite {
  @include flexCenter;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.buttonBurger {
  @media screen and (max-width: 767px) {
    @include flexCenter;
    position: relative;
    z-index: 20;
    path {
      transition: stroke 1s ease-in-out;
    }
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.crossBurger {
  height: 20px;
  width: 20px;
  @include flexCenter;
  div {
    position: relative;
    width: 18px;
    height: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .burgerLine {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
      background-color: #fff;
      border-radius: 1px;
      opacity: 1;
      transition: background-color 1s ease-in-out, opacity 1s ease-in-out,
        transform 1s ease-in-out;
      &:first-child {
        transform: translateY(-5px);
      }
      &:last-child {
        transform: translateY(5px);
      }
    }
  }
}
