@import "../../styles/variables";
@import "../../styles/mixins";

.stickyTourInfo {
  margin-bottom: 24px;
  padding: 16px 16px 11px;
  display: grid;
  gap: 16px;
  background: #fff;
  border: 1px solid $lightBlue;
  box-shadow: $boxShadow1;
  border-radius: $mainBorderRadius;
  @media screen and (min-width: 1200px) {
    margin-bottom: 39px;
  }

  .filter {
    width: fit-content;
    @include flexCenter;
    padding: 4px 8px;
    background: #f3f9ff;
    border-radius: 4px;

    .filterName {
      margin-right: 8px;
    }

    .filterImage {
      @include flexCenter;
      margin-right: 2px;
    }

    .filterNumber {
      font-size: 10px;
      line-height: 12px;
      color: $lightBlue;
    }
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .list {
    display: grid;
    gap: 8px;
    @media screen and (min-width: 768px) {
      grid-auto-flow: row;
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 107px;
      grid-row-gap: 10px;
    }
    @media screen and (min-width: 1200px) {
      grid-auto-flow: row;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }
  }

  .listItem,
  .calendar {
    padding: 4px 0;
    display: flex;
    gap: 7.2px;
    align-items: center;
    @media screen and (min-width: 768px) {
      padding: 1px 0;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .calendar {
    .calendarRow {
      display: flex;
      gap: 4px;

      .dateFirst,
      .dateLast {
        font-weight: 600;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
          @include flexCenter;
          transform: translateY(2px);
          font-size: 12px;
          line-height: 16px;
        }
      }

      .dateFirst {
        color: $textDarkGrey;
      }

      .dateLast {
        color: $accentRed;
      }

      .dash {
        font-size: 14px;
        @media screen and (min-width: 768px) {
          transform: translateY(-2px);
        }
      }
    }
  }
  .button {
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    color: $lightBlue;
    @media screen and (min-width: 768px) {
      padding-top: 3px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 2px;
      margin-bottom: 0;
    }
  }
}
