@import "../../styles/variables";
@import "../../styles/mixins";

.stickyTourInfo {
  padding: 16px 16px 11px;
  display: grid;
  gap: 16px;
  background: #fff;
  border: 1px solid $lightBlue;
  box-shadow: $boxShadow1;
  border-radius: $mainBorderRadius;

  .filter {
    width: fit-content;
    @include flexCenter;
    padding: 4px 8px;
    background: #f3f9ff;
    border-radius: 4px;

    .filterName {
      margin-right: 8px;
    }

    .filterImage {
      @include flexCenter;
      margin-right: 2px;
    }

    .filterNumber {
      font-size: 10px;
      line-height: 12px;
      color: $lightBlue;
    }
  }

  .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }

  .list {
    display: grid;
    gap: 8px;
  }

  .listItem,
  .calendar {
    padding: 4px 0;
    display: flex;
    gap: 7.2px;
    align-items: center;
  }

  .calendar {
    .calendarRow {
      display: flex;
      gap: 4px;

      .dateFirst,
      .dateLast {
        font-weight: 600;
        letter-spacing: 0.75px;
        text-transform: uppercase;
      }

      .dateFirst {
        color: $textDarkGrey;
      }

      .dateLast {
        color: $accentRed;
      }

      .dash {
        font-size: 14px;
      }
    }
  }
  .button {
    margin-bottom: 7px;
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    color: $lightBlue;
  }
}
